<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
                        http://www.springframework.org/schema/data/mongo
                        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <!--声明mongoClient-->
    <mongo:mongo>

    </mongo:mongo>

    <!--创建mongoTemplate-->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">


        <constructor-arg ref="mongo"/>
        <constructor-arg value="OrdersDB"/>
    </bean>

    <!--启用repository生成功能-->
    <mongo:repositories base-package="com.stephen.mongo.order"/>




</beans>